<h1>Daylight App</h1>

<div class="box" onclick="setColor('morning')">Morning</div>
<div class="box" onclick="setColor('afternoon')">Afternoon</div>
<div class="box" onclick="setColor('evening')">Evening</div>