<h1>Javascript and the DOM!</h1>

<!-- <div onmousedown="showAlert()">
  Click me!
</div>
 -->
<!-- 
<hr>

<div class="box" onclick="clickedBox(1)">Box 1</div>
<div class="box" onclick="clickedBox(2)">Box 2</div>
<div class="box" onclick="clickedBox(3)">Box 3</div>


<hr>

<h3>Click-A-Box</h3>

<div class="box" onclick="clickBox()">
  Click me!
</div>

<hr>

<h3>Click-All-the-Boxes</h3>

<div class="box" onclick="clickAllBox(1)">Box 1</div>
<div class="box" onclick="clickAllBox(2)">Box 2</div>
<div class="box" onclick="clickAllBox(3)">Box 3</div>

 -->


<div class="box" onclick="changeColor()">This is a box.</div>


